<div class="col-16">
    {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}    
</div>
<div class="col-16">
    <div class="input-field {{ (control.inlineHelp|length>1 or control.help|length>1) ? 'input-field--desc' : ''  }}">
        {{ control.getField(row, control, [])|raw }}
        {% if control.inlineHelp|length>1 or control.help|length>1 %}
            {% include 'antares/foundation::layouts.antares.partials.form._description' %}             
        {% endif %}
    </div>
</div>
<div class="col-16">
    <span id="{{ control.id }}_error" class="error">
        {{ errors.first(control.name, format)|raw }}
    </span>
</div>