{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}    
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
{% for fieldset in fieldsets %}
    <fieldset name="MDLForms">           
        {% if fieldset.name|length>0 %}
            <legend class="text-center">{{ fieldset.name }}</legend>
        {% endif %}
        {% for control in fieldset.controls() %}                
            {% if control.type=='button' %}
                {% set submits=submits|merge([control]) %}        
            {% else %}   
                <div class="form-block">
                    <div class="input-field">
                        <div class="mdl-textfield mdl-textfield--AR mdl-js-textfield mdl-textfield--floating-label is-upgraded is-dirty text-center" >
                            {% include 'antares/two_factor_auth::admin.auth.partials._field' with {control: control} %}                      
                        </div>
                    </div>
                </div>
            {% endif %}
        {%endfor %}
    </fieldset>
{%endfor %}
{% for button in buttons %}
    {{ button.getField(row, button, [])|raw }}
{% endfor %}
{{ Form.close()|raw }}