{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}    
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
<div class="col-group">
    {% for fieldset in fieldsets %}
        <fieldset>
            {% if fieldset.name|length>0 %}
                <legend>{{ fieldset.name }}</legend>
            {% endif %}
            {% for control in fieldset.controls() %}                
                <div class="col-group">
                    <div class="form-block provider-area-block">
                        <div class="input-field input-field--group">
                            <div class="col-dt-3 col-3 col-mb-3">
                                {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
                            </div>
                            <div class="col-dt-5 col-5 col-mb-5">
                                {{ control.getField(row, control, [])|raw }}
                            </div>
                        </div>

                        <div class="col-16 card__content">
                            <div class="grid-col provider-area-configuration-block"></div>
                        </div>
                    </div>
                </div>
            {%endfor %}
        </fieldset>
    {%endfor %}
</div>
{% if buttons is not empty %}
    <div class="app-content__footer">
        <div class="btn-group">
            {% for button in buttons %}
                {{ button.getField(row, button, [])|raw }}
            {% endfor %}
        </div>
    </div>
{% endif %}
{{ Form.close()|raw }}